/* Header Styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Centre tout verticalement */
  background-color: #000;
  padding: 1rem 2rem;
  color: #fff;
}

header .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center; /* Centre les liens dans le conteneur */
}

header nav ul li {
  margin: 0 1rem; /* Espacement uniforme entre les liens */
}

header nav ul li a,
header .btn-nav {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem 0.75rem; /* Assure un padding uniforme pour tous les éléments */
  display: inline-block;
  border-radius: 5px; /* Ajoute une bordure arrondie uniforme */
  transition: background-color 0.2s ease-in-out;
}

header nav ul li a:hover,
header .btn-nav:hover {
  background-color: #ff8300; /* Effet hover pour tous les liens */
  color: #fff;
}

header .buttons button {
  background-color: #ff8300;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

header .buttons button:hover {
  background-color: #fff;
  color: #ff8300;
}

/* Responsive Design */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  header nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  header nav ul li {
    margin: 0.5rem 0;
  }
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  
}

nav ul li {
  position: relative;
}

nav ul li a {
  text-decoration: none;
  color: #000; /* Couleur du texte */
  font-weight: bold;
  padding: 5px 0; /* Ajoute du padding pour l'espace autour du texte */
  position: relative;
}

nav ul li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  left: 0;
  background: #ff8300; /* Couleur de la ligne de surlignement */
  transition: width 0.3s ease, right 0.3s ease; /* Animation de la ligne */
}

nav ul li a:hover::after {
  width: 100%;
}