body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 1rem 2rem;
  color: #fff;
}

header .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

header nav ul li {
  margin: 0 1rem;
}

header nav ul li a,
header .btn-nav {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  display: inline-block;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
  position: relative;
}

header nav ul li a::after,
header .btn-nav::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  left: 0;
  background: #ff8300;
  transition: width 0.3s ease, right 0.3s ease;
}

header nav ul li a:hover::after,
header .btn-nav:hover::after {
  width: 100%;
}
/* Responsive Design */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  header nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  header nav ul li {
    margin: 0.5rem 0;
  }
}