body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

h2 {
    text-align: center;
    margin: 20px 0;
    color: #333;
}

form.inscription {
    width: 90%;
    margin: 50px auto;
    background: #ffffff;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    box-sizing: border-box;
}

form.inscription label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}

form.inscription input{
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

form.inscription  button {
    display: block;
    width: 100%;
    padding: 0.8rem;
    background-color: #E74C3C;
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form.inscription button:hover {
    background-color: #d15345;
}

form.inscription a {
    display: block;
    text-align: center;
    margin-top: 1rem;
    color: #007BFF;
    text-decoration: none;
    font-size: 0.9rem;
}

form.connexion a:hover {
    text-decoration: underline;
}
